body{
    font-family: 'Poppins', sans-serif;
    /* background-color: #000000; */
}
main{
    background-color: #FFFFFF;
    position: relative;
    width: 1440px;
    height: 3750px;
}
/* -----------------
 Heading and Animation
-------------------- */
.head{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* display: flex; */
    background-color: #2D25A0;
    ;
}
.head-title{
    color:#FFFFFF;
    font-weight: 700; 
    margin: 216px 98px 231px 160px;
    width: 485px;
    height: 230px;
}
.head-title h2{
    font-size: 64px;
    line-height: 40px;
}
.banner{
    /* background-color: #2D25A0; */
    position: absolute;
    left: 743px;
    right: 141px;
    top: 153px;
    bottom: 86px;
    width: 556px;
    height: 438px;
}
.banner:hover{
    transform: matrix(-1, 0, 0, 1, 0, 0);
    /* transition: transform 1s; */
}

.banner img{
    width: 100%;
}
/* ----------------
    Photo Album
    --------------- */
